html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --accent-color: #f7941e;
  --main-text-color: #000000;
  --background-color1: #f1f1f2;
  --background-color2: #ffffff;
  --logo-color: #231f20;
}

body {
  width: 1440px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: var(--main-color);
  background-color: var(--background-color1);
  font-style: normal;
  font-weight: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  width: 1440px;
  outline: 1px solid tomato;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 39px 40px 39px 80px;
  background-color: #fafafa;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 433px;
  font-family: Homemade Apple;
  font-size: 18px;
  color: var(--logo-color);
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  margin-right: 31px;
}

.header-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 13px 20px;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.nav-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 22px;
}

.hero-description {
  padding-top: 41px;
  padding-left: 31px;
  padding-right: 137px;
  padding-bottom: 135px;
}

.hero-title {
  margin-bottom: 150px;
  font-family: Gilroy;
  font-size: 56px;
  line-height: 1.23;
  color: #000000;
}

.hero-text {
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
}

.hero-button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color2);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
}

.after-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container-hero,
.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-list > .hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-descriptions {
  padding: 164px 166px 104px 112px;
}

.feature-title {
  font-size: 32px;
  line-height: 1.41;
  margin-bottom: 23px;
}

.feature-text {
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 35px;
}

.feature-button {
  width: 220px;
  height: 60px;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--background-color1);
  cursor: pointer;
  border-radius: 5px;
  border-color: var(--accent-color);
}

.container-gifts {
  padding: 96px 135px 135px 135px;
}

.gifts-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.gifts-text {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.gifts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifts-img {
  margin-bottom: 24px;
}

.after-text {
  margin: 24px 24px 74px 24px;
  font-size: 20px;
  line-height: 1.2;
}

.gifts-item {
  background-color: var(--background-color2);
  margin-right: 30px;
  -webkit-filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.gifts-linc:last-child {
  margin-right: 0;
}

.gifts-btn {
  margin-right: 179px;
  background-color: var(--background-color2);
  margin-bottom: 24px;
  margin-left: 24px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  border-color: transparent;
}

.sing-up {
  background-color: var(--accent-color);
}

.container-sing-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sing-up-top {
  padding-top: 81px;
  padding-bottom: 65px;
  padding-left: 235px;
  margin-right: 230px;
}

.sing-up-title {
  font-size: 32px;
  line-height: 1.41;
}

.sing-up-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sing-up-button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color2);
  background-color: var(--main-color);
}

.sing-up-button.secondry {
  background-color: var(--accent-color);
  border-color: var(--main-color);
  border-radius: 5px;
}

.sing-up-item {
  margin-right: 16px;
}

.sing-up-item:last-child {
  margin-right: 0px;
}

.blogs {
  padding: 88px 135px 80px 135px;
}

.blogs-title {
  font-size: 32px;
  line-height: 1.19;
}

.blogs-pre-text {
  font-size: 18px;
  line-height: 1.33;
}

.blogs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */