html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --accent-color: #f7941e;
  --main-text-color: #000000;
  --background-color1: #f1f1f2;
  --background-color2: #ffffff;
  --logo-color: #231f20;
}

body {
  width: 1440px;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  width: 1440px;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 39px 40px 39px 80px;
  background-color: #fafafa;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 433px;
  font-family: Homemade Apple;
  font-size: 18px;
  color: var(--logo-color);
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  margin-right: 31px;
}

.header-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 13px 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--background-color2);
}

.header-button:hover,
.header-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.nav-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 22px;
}

.hero {
  background-color: #f1f1f2;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-title {
  margin-bottom: 150px;
  padding-top: 41px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.23;
  color: #000000;
}

.hero-text {
  padding-left: 161px;
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
}

.hero-img {
  display: block;
  margin-left: auto;
}

.hero-button {
  margin-left: 161px;
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color2);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
}

.after-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container-hero,
.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-list > .hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature {
  background-color: #f1f1f2;
}

.feature-descriptions {
  padding: 164px 166px 104px 112px;
}

.feature-title {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.41;
  margin-bottom: 23px;
}

.feature-text {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 35px;
}

.feature-button {
  width: 220px;
  height: 60px;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--background-color1);
  cursor: pointer;
  border-radius: 5px;
  border-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.feature-button:hover,
.feature-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.gifts {
  background-color: #fff;
}

.container-gifts {
  padding: 96px 135px 135px 135px;
}

.gifts-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
  font-weight: normal;
}

.gifts-text {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.gifts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.after-text {
  padding: 24px 24px 74px 24px;
  font-size: 20px;
  line-height: 1.2;
}

.gifts-item {
  background-color: var(--background-color2);
  margin-right: 30px;
  -webkit-filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.gifts-link:last-child {
  margin-right: 0;
}

.gifts-link {
  background-color: var(--background-color2);
  padding-bottom: 24px;
  padding-left: 24px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  border-color: transparent;
}

.sing-up {
  background-color: var(--accent-color);
}

.container-sing-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sing-up-top {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 235px;
  margin-right: 230px;
}

.sing-up-title {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.41;
  color: #000000;
}

.sing-up-text {
  font-size: 32px;
  line-height: 1.41;
}

.sing-up-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sing-up-button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 1.22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #000000;
  background-color: var(--accent-color);
  border-color: #000000;
  cursor: pointer;
}

.sing-up-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.sing-up-item:first-child {
  margin-right: 16px;
}

.blogs {
  padding-top: 88px;
  padding-bottom: 80px;
  background-color: #fff;
}

.blogs-title {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.19;
  margin-bottom: 23px;
  text-align: center;
  color: #000000;
}

.blogs-pre-text {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 71px;
  text-align: center;
}

.blogs-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 135px;
  margin-bottom: 40px;
}

.blogs-slogan {
  padding-left: 78px;
  background-color: #231f20;
  color: #ffffff;
  width: 770px;
  height: 370px;
}

.blogs-slogan-text {
  padding-top: 63px;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 1.43;
}

.blogs-slogan-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.21;
  margin-bottom: 60px;
}

.blogs-link {
  font-size: 18px;
  line-height: 1.39;
  color: correntcolor;
}

.blogs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 135px;
  padding-right: 135px;
}

.blogs-item-after:first-child {
  margin-right: 30px;
}

.blogs-item-after {
  padding: 48px 48px 50px 48px;
}

.blogs-title-after {
  font-size: 24px;
  line-height: 1.42;
  color: #000000;
  margin-bottom: 16px;
}

.blogs-text-after {
  margin-bottom: 16px;
}

.blogs-link-after {
  font-size: 18px;
  line-height: 1.39;
  color: #000000;
}

.footer {
  background-color: #fafafa;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 106px;
  margin-bottom: 108px;
}

.footer-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item1 {
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
}

.footer-item1:first-child {
  margin-right: 81px;
}

.footer-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item2 {
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
}

.footer-item2:first-child {
  margin-right: 54px;
}

.logo--accent {
  color: #f7941e;
  margin-left: 141px;
  margin-right: 141px;
}

.footer-nav::after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  width: 1000px;
  margin-top: 150px;
}

.footer-list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}

.footer-item3 {
  margin-right: 24px;
}

.footer-item3:last-child {
  margin-right: 0;
}

.ground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
}

.ground1 {
  font-size: 14px;
  margin-right: 14px;
}

.ground2 {
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */