html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --accent-color: #f7941e;
  --main-color: #000000;
  --background-color1: #f1f1f2;
  --background-color2: #ffffff;
  --logo-color: #231f20;
}
body {
  width: 1440px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: var(--main-color);
  background-color: var(--background-color1);
  font-style: normal;
  font-weight: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.container {
  width: 1440px;
  outline: 1px solid tomato;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
/* ------Header----- */
.header {
  padding-top: 29px;
  padding-bottom: 25px;
}
.container-header {
  display: flex;
  align-items: center;
  background-color: var(--background-color2);
}

.logo {
  padding-left: 80px;
  margin-right: 433px;
  font-family: Homemade Apple;
  font-size: 18px;
  color: var(--logo-color);
  text-decoration: none;
}
.nav-list {
  display: flex;
  margin-right: auto;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  margin-right: 31px;
  align-items: center;
  color: var(--main-color);
  font-size: 18px;
  line-height: 22px;
}

.header-button {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 40px;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}
/* -----Hero----- */
.hero-title {
  margin-bottom: 36px;
  font-family: Gilroy;
  font-size: 56px;
  line-height: 69px;
}
.hero-text {
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
}
.hero-button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color2);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
}
.container-hero,
.feature-container {
  display: flex;
}
.hero-list > .hero-item {
  display: flex;
}
.hero-description {
  padding: 154px 126px 135px 162px;
}
/*-- Feature-- */
.feature-descriptions {
  padding: 164px 166px 104px 112px;
}

.feature-title {
  font-size: 32px;
  line-height: 1.41;
  margin-bottom: 23px;
}

.feature-text {
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 35px;
}
.feature-button {
  width: 220px;
  height: 60px;
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--background-color1);
  cursor: pointer;
  border-radius: 5px;
  border-color: var(--accent-color);
}
/* Gifts */
.container-gifts {
  padding: 96px 135px 135px 135px;
}
.gifts-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}
.gifts-text {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.gifts-list {
  display: flex;
}
.gifts-img {
  margin-bottom: 24px;
}
.after-text {
  margin: 24px 24px 74px 24px;
  font-size: 20px;
  line-height: 1.2;
}
.gifts-item {
  background-color: var(--background-color2);
  margin-right: 30px;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.gifts-linc:last-child {
  margin-right: 0;
}
.gifts-btn {
  margin-right: 179px;
  background-color: var(--background-color2);
  margin-bottom: 24px;
  margin-left: 24px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  border-color: transparent;
}
/* Sign up */
.sing-up {
  background-color: var(--accent-color);
}
.container-sing-up {
  display: flex;
  align-items: center;
}
.sing-up-top {
  padding-top: 81px;
  padding-bottom: 65px;
  padding-left: 235px;
  margin-right: 230px;
}
.sing-up-title {
  font-size: 32px;
  line-height: 1.41;
}
.sing-up-list {
  display: flex;
}
.sing-up-button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color2);
  background-color: var(--main-color);
}
.sing-up-button.secondry {
  background-color: var(--accent-color);
  border-color: var(--main-color);
  border-radius: 5px;
}
.sing-up-item {
  margin-right: 16px;
}
.sing-up-item:last-child {
  margin-right: 0px;
}

/* --Blogs-- */
.blogs {
  padding: 88px 135px 80px 135px;
}
.blogs-title {
  font-size: 32px;
  line-height: 1.19;
}
.blogs-pre-text {
  font-size: 18px;
  line-height: 1.33;
}
.blogs-list {
  display: flex;
}
