.sing-up {
  background-color: var(--accent-color);
}
.container-sing-up {
  display: flex;
  align-items: center;
}
.sing-up-top {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 235px;
  margin-right: 230px;
}
.sing-up-title {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.41;
  color: #000000;
}

.sing-up-text {
  font-size: 32px;
  line-height: 1.41;
}
.sing-up-list {
  display: flex;
}
.sing-up-button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #000000;
  background-color: var(--accent-color);
  border-color: #000000;
  cursor: pointer;
}

.sing-up-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.sing-up-item:first-child {
  margin-right: 16px;
}
